.information-live-container {
  width: 90%;
  max-width: 1024px;
  height: auto;
  border-radius: 20px;
  margin: 15px auto;
  background-color: #353434;
  color: orangered;
  padding: 15px;
  display: flex;
  align-items: center;
}

.iss-data-container {
  height: 120px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid orangered;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0px 10px;
  box-shadow: 0px 0px 8px 2px #f1f1f1;
}

.data-api {
  margin-top: -15px;
}

#disconnected {
  color: red;
}

#connected {
  color: green;
}

.data-display {
  color: #f1f1f1;
}
h4 {
  margin: 5px auto;
}
.data-api {
  margin: 5px auto;
}
